body {

    background-color: black;
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 80vh;
}


nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
    height: 50px
}

h1 {
    width: 50px;
    display: flex;
    align-items: center;
    color: white;
    transition: 0.5s;
}

h1:hover {

    color: #45d0e4;
    font-size: 20xp;
}

.menu {
    color: white;
    margin-right: 150px;
    transition: 0.5s;
    transform: translateX(-30px);

}


ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline;
    list-style: none;

}

a {
    color: whitesmoke;
    text-decoration: none;


}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px;
    padding: 15px;
}

.menu li a:hover {
    color: #45d0e4;
    font-size: 20xp;
    border: 1px solid #45d0e4;
}

/* Fin partie header*/
/*Début image*/

li img {
    width: 100%;
    height: 100%;
}


footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 20px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.fa-regular {
    padding-left: 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}