* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

header {
    background-color: black;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 20px;
    height: 50px
}

h1 {

    display: flex;
    align-items: center;
    color: white;
    transition: 0.5s;
}

h1:hover {
    color: #45d0e4;

    /* Correction de la taille en px */

}

.menu {
    color: white;
    margin-right: 150px;
    transition: 0.5s;
    transform: translateX(0);
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px;
    padding: 15px;
}

.menu li a:hover {
    color: #45d0e4;
    font-size: 16px;
    /* Correction de la taille en px */
    border: 1px solid #45d0e4;
}

/* Section Hero (Image d'accueil) */
.hero {
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(image/Photo_de_profil.jpg);
    object-fit: cover;
    width: 100%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s ease-out forwards;
}

.hero p {
    padding-left: 280px;
    background-color: transparent;
    color: white;
    margin: 0px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}

/* Footer */
footer {

    background-color: black;
    width: 100%;
    height: 4.5%;
    color: white;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.fa-regular {
    padding-left: 10px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.2s ease-out forwards;
}

.hero-link li {
    font-size: 15px;
    padding: 10px;
    color: whitesmoke;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.8s 0.6s ease-out forwards;
}


.fa {
    padding: 10px;
}

.hero-link li a:hover {
    color: #45d0e4;
}

/* Animation d'apparition */
@keyframes apparition {
    100% {
        opacity: 1;
        transform: none;
    }
}

/* Media Queries pour rendre le design responsive */

/* Pour les petits écrans (mobile, largeur moins de 500px) */
@media (max-width: 500px) {
    header {
        height: 15%;
    }

    .hero {
        width: auto;
        object-fit: scale-down;
        background-size: cover;
        background-position: 70%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .hero-link {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

/* Pour les tablettes (de 500px à 768px) */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-right: 0;
    }

    .menu li a {
        font-size: 13px;
        margin: 10px;
        padding: 12px;
    }

    .hero p {
        font-size: 35px;
        padding: 120px 0px 0px 70px;
    }

    footer p {
        font-size: 16px;
    }
}

/* Pour les écrans de bureau */
@media (min-width: 1024px) {
    .hero p {
        font-size: 50px;
    }

    .menu li a {
        font-size: 16px;
        margin: 20px;
        padding: 15px;
    }
}